---
import { getCollection } from "astro:content";
import BaseHead from "../base/BaseHead.astro";
import MobileLayout from "../base/layouts/MobileLayout.astro";

export async function getStaticPaths() {
  const chapters = await getCollection("chapters");

  return chapters.map((chapter) => ({
    params: { chapter: chapter.data.chapter_number.toString() },
    props: { chapter },
  }));
}

const { chapter } = Astro.props;
const allSloks = await getCollection("sloks");
const sloks = allSloks.filter((s) => s.data.chapter === +Astro.params.chapter);
---

<BaseHead
  description={`${chapter.data.summary.en.substring(0, 40)} |  Read all sloks of Chapter ${chapter.data.chapter_number} with meaning and explanation`}
  title={`Bhagavad Gita Chapter ${chapter.data.chapter_number} - ${chapter.data.meaning.en} | ${chapter.data.meaning.hi} | ${chapter.data.name}  | Full Sloks with Meaning`}
>

<MobileLayout >

  <h2 transition:name={`chapter-name-${chapter.id}`}>{chapter.data.name}</h2>
  <p><strong>Meaning (English):</strong> {chapter.data.meaning.en}</p>
  <p><strong>Total verses:</strong> {chapter.data.verses_count}</p>

  <div class="main m-2 gap-2">
    {
      sloks.map((slok) => (
        <Fragment>
          <a
            transition:name={`slok-name-${slok.id}`}
            href={`/${slok.data.chapter}/${slok.data.verse}`}
            class=""
          >
            {slok.data.slok}
          </a>
          <br />
          <p>


          </p>
        </Fragment>
      ))
    }
  </div>
</MobileLayout>
</BaseHead>
