---
import { getCollection } from "astro:content";
import BaseHead from "../../base/BaseHead.astro";
import MobileLayout from "../../base/layouts/MobileLayout.astro";
export async function getStaticPaths() {
  const sloks = await getCollection("sloks");

  return sloks.map((item) => ({
    params: {
      chapter: item.data.chapter_number.toString(),
      slok: item.data.verse_number.toString(),
    },
    props: { slok: item },
  }));
}

const { slok } = Astro.props;
---

<BaseHead
  description={`Read Bhagavad Gita ${slok.data.chapter_number}.${slok.data.verse_number} in Sanskrit with English meaning. Understand the verse's message and its spiritual significance as explained by Lord Krishna.`}
  title={`Bhagavad Gita ${slok.data.chapter_number}.${slok.data.verse_number} - Slokas with meaning`}
>
  <MobileLayout>
    <h2 transition:name={`slok-name-${slok.id}`}>
      {slok.data.title}
    </h2>
  </MobileLayout>
</BaseHead>
