---
import { getCollection } from "astro:content";
import BaseHead from "../../base/BaseHead.astro";
export async function getStaticPaths() {
  const sloks = await getCollection("sloks");

  return sloks.map((item) => ({
    params: {
      chapter: item.data.chapter.toString(),
      slok: item.data.verse.toString(),
    },
    props: { slok: item },
  }));
}

const { slok } = Astro.props;
---

<BaseHead
  description={`Read Bhagavad Gita ${slok.data.chapter}.${slok.data.verse} in Sanskrit with English meaning. Understand the verse's message and its spiritual significance as explained by Lord Krishna.`}
  title={`Bhagavad Gita ${slok.data.chapter}.${slok.data.verse} - Slokas with meaning`}
>
  <h2 transition:name={`slok-name-${slok.id}`}>
    {slok.data.slok}
  </h2>
  <br />
  <br />
  {slok.data.raman.sc}
  <br />
  <br />
  {slok.data.raman.et}
</BaseHead>
